DATABASES = {
    'default': {
        #sqlite
        'ENGINE': 'django.db.backends.sqlite3',
        'NAME': 'calorie_bank_sqlite'
        #mysql
        'NAME': '',
        'ENGINE': 'django.db.backends.mysql',
        'USER': '',
        'PASSWORD': '',
        'HOST': '',
        'PORT': '3306'
    }
}
ADMINS = (
    ('Admin Name','admin@example.com')
)
MANAGERS = ADMINS
STATICFILES_DIRS = (
    "/absolute/path/to/calorie-bank/CalorieBank/files",
)

