<! doctype html>
<html>
<head>
<link href="http://css.nlx.org/framework/v2/css/code/bootstrap.221.min.css" type="text/css" rel="stylesheet">
<script src="http://js.nlx.org/framework/v2/js/def.ui.jquery.core.js"></script>
<style>
.container{
    margin: 10px auto;
}
#balance{
    padding: 20px 0;
    text-align: center;
    font-size: 6em;
    width: 100%;
}
.calorie_report .static{
    display:block;
}
.calorie_report .update{
    margin: 0;
    display: none;
}
.calorie_report input{
    font-size: 1em;
    height: 30px;
}
.table .btn{
    margin-top: -9px;
    margin-left: 10px;
}
</style>
<script>
$(document).ready(function(){
$("td.calorie_report button.cancel").click(function(){
    row_id = $(this).attr("data-parent-id");
    close_row_form(row_id);
})
$("td.calorie_report .static").click(function(){
    row_id = $(this).parent()[0].id;
    $("#"+row_id+"_static").hide()
    $("#"+row_id+"_update").show()
    $("#"+row_id+"_update").children("input").focus()
    $("#"+row_id+"_update button").removeClass("disabled");
});
$("td.calorie_report .update .save").click(function(){
    row_id = $(this).attr("data-parent-id");
    newcal = $("#"+row_id+" .calorie_report_input").val()
    save(row_id,newcal);
});
});
function close_row_form(row_id){
    $("#"+row_id+"_static").show()
    $("#"+row_id+"_update").hide()
}
function update_row_form(row_id,cals,balance,day_bal){
    $("#"+row_id+"_static").html(cals);
    $("#"+row_id+"_balance").html(day_bal);
    $("#"+row_id+"_update").children("input").val(cals)
    $("#balance h1").html(balance)
}
function save(row_id,cals){
    $("#"+row_id+"_update button").addClass("disabled");
    $.ajax({
        url: "/update/",
        data: {"day_id":row_id.replace("day_",""),"calories":cals},
        success: function(data){
            update_row_form(data.row_id,data.cals,data.balance,data.day_bal);
            close_row_form(data.row_id);
        }
    });
}
</script>
</head>
<body>
<div class="navbar">
    <div class="navbar-inner">
        <a class="brand" href="/">CalorieBank</a>
        <ul class="nav">
            <li class="active"><a href="/">Home</a>
            <li><a href="/admin/">Admin</a>
        </ul>
    </div>
</div>
<div class="container">
<div class="row">
    <div class="span9">
        <table class="table table-bordered table-striped">
        <tr>
            <th class="span2">Date</th>
            <th class="span5">Calories</th>
            <th class="span2">Banked</th>
        </tr>
        {% for day in days %}
        {% if day.date == today %}
            <tr class="info">
        {% else %}
            <tr>
        {% endif %}
            <td>{{day.date}}</td>
            <td class="calorie_report" id="day_{{day.id}}">
                <span class="static" id="day_{{day.id}}_static">{{day.calories}}</span>
                <span class="update" id="day_{{day.id}}_update">
                    <input type='text' class='span2 calorie_report_input' 
                        name='calories' value='{{day.calories}}'>
                    <button class='save btn btn-primary' data-parent-id="day_{{day.id}}">
                        update
                    </button>
                    <button class='cancel btn' data-parent-id="day_{{day.id}}">
                        cancel
                    </button>
                </span>
            </td>
            <td>
                <span 
                    class="label 
                    {% if day.balance > 0%}label-success{%endif%}
                    {% if day.balance == 0%}label-default{%endif%}
                    {% if day.balance < 0%}label-important{%endif%}
                    " id="day_{{day.id}}_balance">
                    {{day.balance}}
                </span>
                {% if day.date == today %}<em>pending</em>{%endif%}
            </td>
        </tr>
        {% endfor %}
        </table>
    </div>
    <div class="span3">
        <div class="label label-info" id="balance">
            <div class="label label">Available Balance</div>
            <h1>{{bank.balance}}</h1>
        </div>
    </div>
</div>

</div>
</body>
<body>
