<! doctype html>
<html>
<head>
    <link href="http://css.nlx.org/framework/v2/css/code/bootstrap.221.min.css" type="text/css" rel="stylesheet">
    <link href="/static/calorie-bank.css" type="text/css" rel="stylesheet">
    <script src="http://js.nlx.org/framework/v2/js/def.ui.jquery.core.js"></script>
    <script src="/static/calorie-bank.js"></script>
</head>
<body>
<div class="navbar">
    <div class="navbar-inner">
        <a class="brand" href="/">CalorieBank</a>
        <ul class="nav">
            <li class="active"><a href="/">Home</a>
            <li><a href="/admin/">Admin</a>
        </ul>
    </div>
</div>
<div class="container">
<div class="row">
    <div class="span9">
        <table class="table table-bordered table-striped">
        <tr>
            <th class="span2">Date</th>
            <th class="span5">Calories</th>
            <th class="span2">Banked</th>
        </tr>
        {% for day in days %}
        {% if day.date == today %}
            <tr class="info">
        {% else %}
            <tr>
        {% endif %}
            <td>{{day.date}}</td>
            <td class="calorie_report" id="day_{{day.id}}">
                <span class="static" id="day_{{day.id}}_static">{{day.calories}}</span>
                <span class="update" id="day_{{day.id}}_update">
                    <input type='text' class='span2 calorie_report_input' 
                        name='calories' value='{{day.calories}}'>
                    <button class='save btn btn-primary' data-parent-id="day_{{day.id}}">
                        update
                    </button>
                    <button class='cancel btn' data-parent-id="day_{{day.id}}">
                        cancel
                    </button>
                </span>
            </td>
            <td>
                <span 
                    class="label 
                    {% if day.balance > 0%}label-success{%endif%}
                    {% if day.balance == 0%}label-default{%endif%}
                    {% if day.balance < 0%}label-important{%endif%}
                    " id="day_{{day.id}}_balance">
                    {{day.balance}}
                </span>
                {% if day.date == today %}<em>pending</em>{%endif%}
            </td>
        </tr>
        {% endfor %}
        </table>
    </div>
    <div class="span3">
        <div class="label label-info" id="balance">
            <div class="label label">Available Balance</div>
            <h1>{{bank.balance}}</h1>
        </div>
    </div>
</div>

</div>
</body>
<body>
